body {
    margin: 10%;
    font-family: 'PT Sans', sans-serif;
}

h1, h3{
    font-family: 'Playfair Display', serif;
}

a:link {
    color : #00a ;
    background-color : white ;
}
a:visited {
    color : #00a ;
    background-color : white ;
}
a:hover {
    color : #000 ;
    background-color : #8dc ;
}

.container-top {
   text-align: center;
}

.container-right {
    float: left;
    max-width: 50%;
}

.container-left {
    float: left;
}

.container-bottom{
    margin-top: 1em;
    width: 100%;
    float: left;
    text-align: center;
}

.banner-pic{
    max-width: 100%;
}

.profile-pic {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    font-size: 0.7em;
    text-align:center;
}

@media screen and (max-width: 800px) {
    .container-right {
        float: left;
        max-width: 100%;
    }
}

@media handheld {
    .container-right {
        float:left;
        max-width: 100%;
    }
}